@page "/"

@using Wwbweibo.CrackDetect.ServiceMaster.Models
@using Wwbweibo.CrackDetect.MasterWeb.Components.Home;
@inject TaskService TaskService

@if (tasks == null)
{
    <label>loading...</label>
}
else
{

    <div class="row">
        @foreach (var item in tasks)
        {
            <TaskItem TaskViewModel="item"></TaskItem>
        }
    </div>
}

@code{
    private List<TaskViewModel> tasks;

    protected override async Task OnInitializedAsync()
    {
        tasks = await TaskService.GetAllTasks();
    }

}
