@using Wwbweibo.CrackDetect.Models
@{
    ViewData["Title"] = "服务管理";
}
<div>
    <h4>在线服务管理</h4>
</div>

<div>
    <table class="table table-striped table-bordered">
        <thead>
        <td>#</td>
        <td>服务名</td>
        <td>服务类型</td>
        <td>服务状态</td>
        <td>操作</td>
        </thead>
        @{ int index = 0;}
        @foreach (var services in ViewData["services"] as Dictionary<ServiceType, List<Tuple<string, ServiceStatusEnum>>>)
        {
            @foreach (var service in services.Value)
            {
                index = index + 1;
                <tr>
                    <td>@index</td>
                    <td>
                        @service.Item1
                    </td>
                    <td>
                        @if(services.Key == ServiceType.MasterService)
                        {
                            <label>Master主服务</label>
                        }else if(services.Key == ServiceType.DataCalc)
                        {
                            <label>Python图像计算服务</label>
                        }else if (services.Key == ServiceType.DataCollect)
                        {
                            <label>数据采集服务</label>
                        }
                    </td>
                    <td>
                        @service.Item2.ToString()
                    </td>
                    <td>
                        @if (services.Key == ServiceType.DataCollect && service.Item2 == ServiceStatusEnum.Idle)
                        {
                            <a href="/Service/StartDataCollect?ServiceId=@service.Item1">开始数据采集</a>
                        }
                        <a href="/Service/StopService?ServiceType=@services.Key&ServiceId=@service.Item1">停止</a>
                    </td>
                </tr>
            }
        }
    </table>
</div>