@{ ViewData["Title"] = "任务管理";}

<div>
    <h2>
        待处理任务
    </h2>
</div>


<div>
    <table class="table table-striped table-bordered">
        <thead>
        <td>#</td>
        <td>任务ID</td>
        </thead>
        @{ int index = 0;}
        @foreach (var task in ViewData["tasks"] as List<string>)
        {
            index = index + 1;
            <tr>
                <td>@index</td>
                <td>@task</td>
            </tr>
        }
    </table>
</div>