@using Wwbweibo.CrackDetect.ServiceMaster.Utils;

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div>
    @{
        var tasks = ViewData["item"] as TaskViewModel;

    }
    <div class="row">
        @foreach (var item in tasks.TaskItemList)
        {
            <div class="col-sm-3 image-block">
                <img src="data:image/jpg;base64,@if (item.IsCrack)
                                                {
                                                    @item.MarkedImageData
                                                }
                                                else
                                                {
                                                    @item.OriginImageData
                                                }" class="card-img" />
                <p>任务ID:<a href="">@item.TaskItemId</a></p>
                <p>位置：@await BaiduMapUtils.LocationConvert(item.Position.Latitude, item.Position.Longitude)</p>
                <p>是否裂缝图像：@item.IsCrack.ToString()</p>
            </div>
        }
    </div>
</div>